/* navigation */
#navbar{
    flex-direction: column;
}


#home{
    height: 280px;
}

/* services section */
#services{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 800px){
    
}

/* mobile nav */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(65, 61, 61);
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay_content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover, .overlaya:focus{
    color: blanchedalmond;
}

.overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a{
        font: 20px;
    }

    .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* navigation section */